

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background-color: plum;
 }
 ::-webkit-scrollbar-thumb{
    background-color: #00d0ff;
 }
.container{
    margin: 50px 50px;
}

.table {
    border-collapse: collapse;
    /* background-color: chartreuse; */
    width: 42vw;
    min-width: 450px;
    font-family: sans-serif;
    margin: 5px;

}

.table thead tr th{
    text-align: center;
    padding: 5px 0px;
    border: rgb(0, 0, 0) solid 2px;

}
.table tr:nth-of-type(even) {
    background-color: #fffceb;
  }

.table tbody tr, td {
    /* background-color: aqua; */
    border: rgb(0, 0, 0) solid 2px;
    padding: 10px;
}
.table button {
    height: 40px;
    width: 100px;
    border-radius: 14px;
    background-color: beige;
    font-weight: bold;
}

.slidbar{
    background-color: #00d0ff;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    top: 0px;
    height: 95vh;
}


.slidDiv {
    
    background-color: #00d0ff;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.slidbar hr {
    width: 250px;
}
.slidDiv button {
    height: 20px;
    width: 100px;
    color: rgb(0, 0, 0);
    background: rgb(255, 189, 200);
    border-radius: 50px;
    cursor: pointer;
    font-size: 24px;
}
.slidbar button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
}

.buttoncol{
    position: fixed;
    top: 0px;
    left: 20px;
    height: 50px;
}
